If:
  PathMatch: crates/instar-core/native/.*
CompileFlags:
  Add:
    - -std=c++17
    - -I../../../vendor/luau/Analysis/include
    - -I../../../vendor/luau/Ast/include
    - -I../../../vendor/luau/CLI/include
    - -I../../../vendor/luau/Common/include
    - -I../../../vendor/luau/Config/include
    - -I../../../vendor/luau/VM/include
