CompileFlags:
  Add:
    - -std=c++17
    - -fexceptions
    - -fcxx-exceptions
    - -I../../../target/cxxbridge
    - -I..
    - -I../vendor/luau/Config/include
    - -I../vendor/luau/Ast/include
    - -I../vendor/luau/Common/include
    - -I../vendor/luau/VM/include
