AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine:
  Other: false
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
ColumnLimit: 210
IndentExternBlock: Indent
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: All
PackArguments:
  BinPack: OnePerLine
